@page "/" 
@using ApplicationPokemonAPI.Models <!-- j'ai du rajouter un using Mondels pour relier la classe Pokemon.cs' -->
@using ApplicationPokemonAPI.Util

@inject PokeClient client 

<div class="container">

    <img src="/image/Blaeor-Dex.png" alt="app title" class="app-title" />

    <div class="pokemon-row">
        @foreach (var pokemon in pokemonList)
        {
            <div class="pokemon-card">
                <img src="@pokemon.sprites.front_default" alt=" Pokemon Sprite" />

                <h4 class="pokemon-name"> @pokemon.name</h4>
                <div class="type-row">

                    @foreach( var type in pokemon.types)
                    {
                        <span class="type-badge" style=" background-color: @PokeColor.GetTypeColor(@type.type.name)">@type.type.name</span>
                        <!-- cette line fait référence : Dossier Model=> fichier type public Type2 type { get; set; } 

                        après ça on se redirege vers le fichier type2 pour prendre : public string name { get; set; }
                        avec ça on arrive à cette ligne  ( <span>@type.type.name</span> ) -->
                    }

                </div>
            </div>

        }
    </div>
</div>


@code {
    

    List<Pokemon> pokemonList = new List<Pokemon>();

    protected override async Task OnInitializedAsync()
    {
        

        for(int i = 1; i < 20 ; i++ )
        {

            pokemonList.Add(await client.GetPokemon(i.ToString())); // GetPokemon => voir fichier (("PokeClient"): GetPokemon(string id))

            StateHasChanged();
        }

    }




}